<div class="dnd5e-cm">
    <div class="dnd5e-cm-text">
        {{characterName}} | {{#if currency.old includeZero=true}} {{currency.old}} {{currency.label}} -> {{/if}}{{currency.value}} {{currency.label}}
    </div>
</div>
