<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} | {{activeEffectName}} {{#if disabled}}{{localize "characterMonitor.chatMessage.disabled"}}{{else}}{{localize "characterMonitor.chatMessage.enabled"}}{{/if}}
    </span>
</div>