<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} | {{itemName}}: {{uses.value}}/{{uses.max}} {{localize "characterMonitor.chatMessage.uses"}}
    </span>
</div>
