<div class="dnd5e-cm">
    <div class="dnd5e-cm-text">
        {{characterName}} {{#if equipped}}{{localize "characterMonitor.chatMessage.equipped"}}{{else}}{{localize "characterMonitor.chatMessage.unequipped"}}{{/if}} {{itemName}}
    </div>
</div>
