<div class="dnd5e-cm-content">
    <span class="dnd5e-cm-text">
        {{characterName}} | {{spellSlot.label}} {{localize "characterMonitor.chatMessage.SpellSlots"}}: {{spellSlot.value}}/{{spellSlot.max}}
    </span>
</div>
